<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Hello there! My name is Heitor Garcia, and I am an engineer
        interested in world culture, languages, music and anything else that might make us the same everywhere.
        <br>Including math. And also including awful puns if I manage to understand them in the local dialect.
        <br><br>I love to spend my free time as a Scout Chief, which means basically <i>playing around in the nature</i>
        developing pedagogical activities with young people so they can develop themselves to become <i>self-fulfilled as individuals and play a constructive role in society</i>
        <br>(Check out the <a href="https://www.scout.org/"> Scout Mission  </a> for more).

        <br>When I'm not at it, I like to sit on my piano, cook and hang out with friends, or read.

        <br>Striving to create a better world, where involvement, recognition and intergenerational exchange are no longer a dream. Finally, I happen to have a favorite quote about engineering:

        <h5>*It’s still magic even if you know how it’s done*. – Terry Pratchett, A Hat Full of Sky</h5>
  
        </h3>
</div> </div>
