<div class="home-intro">
    <h5 class="meta-title">Hello there! My name is Heitor Garcia ⸻</h5>
    <div class="jumbo">For the last 5 years, I have been working within the decentralized energy production market, specifically with grid connection at <a href="https://www.enedis.fr/">Enedis</a>.</div>
    <div class="home-sub-text">
      <h3>
        <br><br> Oh, just before we continue, this space is (always) under construction ! Continue at your own risk and do take your protection gear! ;)

        <br><br><img src="http://placekitten.com/g/900/600" alt="placeholder">

        <br><br> Other than my day job, I also am a Scout Leader, working with youth training for Scout Chiefs.
        <br><br>Which means basically <s>playing around in the nature</s> enabling young leaders to create pedagogical activities so they can keep creating a world where kids are empowered to become <i>self-fulfilled as individuals and play a constructive role in society</i>
        <br><h5>(Check out the <a href="https://www.scout.org/"> Scout Mission  </a> for more).</h5>

        <br><br><br><img src="https://haredega-git-imgs.s3.sa-east-1.amazonaws.com/scout_condec.jpg" alt="placeholder">

        <br><br><br><br>When I'm not at it, I like to sit on my piano, cook and hang out with friends, or read.

        <b><br><br>I happen to have a favorite quote about engineering:
        <div class="jumbo"><i>It’s still magic even if you know how it’s done</i>. – Terry Pratchett, A Hat Full of Sky </div>
        <br><br><img src="http://placekitten.com/g/900/600" alt="placeholder">
        <br><br>Well, if you're stil here, welcome to my litlle place to explore online !
        </h3>
</div> </div>
